language: dart
dist: xenial
addons:
  apt:
    packages:
      - libstdc++6
install:
  - git clone https://github.com/flutter/flutter.git -b beta
  - ./flutter/bin/flutter doctor
script:
  - ./flutter/bin/flutter $COMMAND
cache:
  directories:
    - $HOME/.pub-cache
matrix:
  include:
  - name: Test
    env: COMMAND=test
  - name: Analyze
    env: COMMAND=analyze